.section-dashboard {
  h1,h2,h3,h4,h5,
  .h1, .h2, .h3, .h4, .h5 {
    font-family:"Oswald", sans-serif;
    text-transform:uppercase;
  }
  .quick-nav {
    div {
      a {
        span {
          display:flex;
          align-items:center;
          justify-content:center;
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
        }
      }
      a:after {
        content:'';
        display:block;
        padding-bottom:100%;
        box-sizing:inherit;
      }
    }
  }
}

