body {
  margin-left:70px;
  a {
  text-decoration:none!important;
  }
  .card {
    transition:all .35s;
  }
  .on-top {
    z-index:11;
  }
  .affix {
    height:100%;
    overflow-y:scroll;
    padding-bottom:100px;
  }
}

