.section-monsters {
  input[type='text'] {
    width:100%;
    font-size:$font-size-md;
    padding:5px 10px
  }
  ul#list {
    list-style:none;
    li {
      a {
        font-size:$font-size-md;
      }
    }
  }
  &.detail {
    .col-sm-9 {
    ul {
      list-style:none;
    }
  }
  .abilities {
    text-align:center;
  }
  .saving-throws {
    span:after {
      content:",";
    }
    span:last-child:after {
      content:"";
    }
  }
  .skills {
    span:after {
      content:",";
    }
    span:last-child:after {
      content:"";
    }
  }
  &.detail {
    p {
      font-size:$font-size-base;
      font-weight:initial;
    }
    ul {
      padding:0!important;
    }
  }
}
}