$sidenav-width:70px;


#sidenav {
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:$sidenav-width;
  background:$darkblue;
  ul {
    position:absolute;
    padding:0;
    list-style:none;
    width:100%;
    height:100%;
    text-align:center;
    li {
      a {
        color:white;
        .ra {
          display:block;
        }
        .fa {
          display:block;
        }
        .navlabel {
          opacity:0;
          font-size:0.75rem;
          transition:.25s;
        }
        &:hover {
          .navlabel {
            opacity:1;
          }
        }
      }
    }
  }
}


#topnav {
  position:fixed;
  top:0;
  left:70px;
  right:0;
  height:50px;
  background:#f5f8fa;
  z-index:10;
  ul {
    list-style:none;
    line-height:35px;
    ul {
      width:250px;
    }
  }
}





@media (max-width:768px) {
  body {
    margin-left:0!important;
    #topnav {
      left:0!important;
    }
    #sidenav {
      display:none;
    }
  }
}