.ql-toolbar {
  background:white;
  border-bottom:1px solid white !important;
}
.ql-container {
  background:white;
  height:400px;
}


/* Editor applied styles */
.ql-align-left {text-align:left;}
.ql-align-center {text-align:center;}
.ql-align-right {text-align:right;}
.ql-align-justify {text-align:justify;}
.ql-font-sans-serif {font-family:$font-family-sans-serif;}
.ql-font-serif {font-family:$font-family-serif;}
.ql-indent-1 {margin-left:25px; list-style-type:circle;}