.section-spells {
  input {
    width:100%;
    font-size:$font-size-md;
    padding:5px 10px
  }
  p {
    font-size:$font-size-md;
  }
  ul {
    list-style:none;
    li {
      a {
        font-size:$font-size-md;
      }
    }
  }
}