.section-spells {
  input[type='text'] {
    width:100%;
    font-size:$font-size-md;
    padding:5px 10px
  }

  .col-sm-9 {
    ul {
    list-style:none;
    li {
      a {
        font-size:$font-size-md;
      }
    }
  }
}
}