
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600|Oswald");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import "node_modules/font-awesome/scss/font-awesome.scss";

// RPGAwesome
@import "node_modules/rpg-awesome/scss/rpg-awesome.scss";

// Navigation
@import "navigation";

// Quill
@import "quill";

// Custom
@import 'general';
@import 'dashboard';
@import 'monsters';
@import 'spells';
@import 'notes';
@import 'encounters';
@import 'locations';
@import 'rightbar';

// Themes
@import 'red';
@import 'light';



.ra-2x {
  font-size:1.8rem;
}
.header {
  font-family:"Oswald", sans-serif;
  text-transform:uppercase;
}
input[type="text"],
textarea {
  border:1px solid #ccc!important;
  padding:5px 10px!important;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    //-webkit-appearance:none!important;
    box-shadow:none!important;
}